<div class="accordion-item">
  <button class="accordion-header" aria-expanded="false" aria-controls="faq-{{ id }}">
    {{ question }}
    <span class="accordion-icon">+</span>
  </button>
  <div id="faq-{{ id }}" class="accordion-content" role="region">
    <div class="accordion-content-inner">
      {{ answer }}
    </div>
  </div>
</div>
