<div class="accordion-item">
  <button class="accordion-header" aria-expanded="false" aria-controls="faq-{{ item.id }}">
    {{ item.question }}
    <span class="accordion-icon">+</span>
  </button>
  <div id="faq-{{ item.id }}" class="accordion-content" role="region">
    <div class="accordion-content-inner">
      {{ item.answer }}
    </div>
  </div>
</div>
