{% comment %}
  PostureTru Homepage Template
{% endcomment %}

{% section 'hero' %}
<div class="true-line-divider" aria-hidden="true"></div>
{% section 'product-preview' %}
<div class="true-line-divider" aria-hidden="true"></div>
{% section 'trust-pillars' %}
<div class="true-line-divider" aria-hidden="true"></div>
{% section 'final-cta' %}
